* {
  font-family: monospace;
  font-size: 1.1em;
}

.grid {
  margin-top: 1em;
}

.grid > span {
  background: #efebec;
  border: 0.1em solid #aaa;
  display: inline-block;
  padding: 0.5em;
}

.grid > span:first-child {
    border-right: none;
}

.grid > span:nth-child(2) {
    border-left: none;
}

.grid > span:last-child {
  margin-left: 2em;
}

.grid span.content {
  font-size: 1em;
}

input.selected {
  opacity: 0.3;
}

.group {
  display: inline-block;
}

[data-solved]::before {
  background: red;
  border-radius: 1em;
  content: ' ';
  display: inline-block;
  height: 1em;
  width: 1em;
}

[data-solved=true]::before {
  background: green;
}
