<p>
  Solved: <span class="grid-solved" data-solved=<%= Grid.is_solved?(@grid) %></span>
</p>
<span class="group" data-connections=<%= Jason.encode!(@grid.connections) %>>
  <%= for {{combined, left, right}, index} <- Enum.with_index(Stream.zip([Grid.combined(@grid), @grid.left, @grid.right])) do %>
    <div class="grid">
      <span>
        <%= "#{combined}" %>
      </span><span class="left">
        ⥺ &nbsp;<span class="content"><%= "#{left}" %></span>
        <input type="checkbox" data-index=<%= index %> data-answer=<%= left.index %>>
      </span><span class="right">
        <input type="checkbox" data-index=<%= index %> data-answer=<%= right.index %> data-selected=null>
        <span class="content"><%= "#{right}" %></span>
      </span>
    </div>
  <% end %>
</span>
